<div class="d-flex">
  <div class="flex-1">
    <h2><strong>{{sickName}}</strong></h2>
    <div *ngFor="let nutriName of nutrisInSick">
      <div>{{getExit(nutriName)}}</div>
    </div>
  </div>
  <div class="flex-1">
    <h2>Add this sick for nutri</h2>
    <hr>
    <select [(ngModel)]="nutriName" class="w-100 form-control custom-select">
      <option selected [value] = "undefined">Open this select menu</option>
      <option *ngFor="let nutri of nutrisList" [value]="nutri">{{nutri}}</option>
    </select>
    <input type="number" placeholder="min" [(ngModel)]="min" class="form-control"/>
    <input type="number" placeholder="max" [(ngModel)]="max" class="form-control"/>
    <textarea [(ngModel)]="description" placeholder="description" class="form-control"></textarea>
    <button class="btn btn-outline-dark" (click)="saveNutriToSick()">Save</button>
  </div>
</div>
