<div class="d-flex">
  <div class="flex-1">
    <select [(ngModel)]="selectedSickGroup" (change)="onSelectedSickGroup()" class="w-100 form-control custom-select">
      <option selected [value] = "undefined">Open this select menu</option>
      <option *ngFor="let group of ['PHO_BIEN', 'DA_LIEU']" [value]="group">{{group}}</option>
    </select>
    <div *ngIf="isShowAddingSick">
      <input type="text" placeholder="sick name" [(ngModel)]="sickName" class="form-control"/>
      <button class="btn-outline-danger" (click)="hideSaveSickName()">Cancel</button>
      <button class="btn-outline-success" (click)="saveSickNameToGroup()">OK</button>
    </div>

    <button *ngIf="!isShowAddingSick" class="btn btn-outline-info" (click)="isShowAddingSickName()">+</button>
    <hr/>
    <ul>
      <li *ngFor="let sick of sicksByGroup" (click)="showDetailSick(sick.key, sick.sickName)">{{sick.sickName}}</li>
    </ul>
  </div>
  <div class="flex-2">
    <app-sick-detail *ngIf="selectedSick" [sickKey]="selectedSick.key" [sickName]="selectedSick.name"></app-sick-detail>
  </div>
</div>
