<div class="w-100">
  <div class="col-12 col-md-4 p-2 float-start">
    <div class="alert alert-info">
      <h3>Your schedules</h3>
      <table class="table">
        <tbody>
          <tr *ngFor="let schedule of schedules">
            <td class="d-flex justify-content-between">
              <div class="" (click)="onClickedSchedule(schedule)">{{schedule.scheduleName}}</div>
              <div class="btn btn-sm btn-outline-danger" (click)="onDeleteSchedule(schedule.key, schedule.scheduleName)">-</div>
            </td>
          </tr>
        </tbody>
      </table>
      <button *ngIf="!isShowAddingSchedulePanel" class="btn btn-outline-success" (click)="showAddSchedulePanel()">+</button>
    </div>

    <div *ngIf="isShowAddingSchedulePanel" class=" alert alert-success">
      <input type="text" [(ngModel)]="scheduleName" placeholder="schedule name" class="form-control"/><br/>
      <div class="d-flex">
        <div class="flex-1">
          <label><input type="radio" name="type" [(ngModel)]="type" value="ONE_DAY"/>1 day</label><br/></div>
        <div class="flex-1">
          <label><input type="radio" name="type" [(ngModel)]="type" value="ONE_WEEK"/>7 days</label><br/></div>
        <div class="flex-1">
          <label><input type="radio" name="type" [(ngModel)]="type" value="TWO_WEEKS"/>14 days</label><br/></div>
        <div class="flex-1">
          <label><input type="radio" name="type" [(ngModel)]="type" value="ONE_MONTH"/>30 days</label><br/></div>
      </div><br/>
      <div class="d-flex">
        <div class="flex-1"><label><input type="radio" name="age" [(ngModel)]="age" value="CHILD"/>Child</label><br/></div>
        <div class="flex-1"><label><input type="radio" name="age" [(ngModel)]="age" value="ADULT"/>Adult</label><br/></div>
        <div class="flex-1"><label><input type="radio" name="age" [(ngModel)]="age" value="OLD"/>Old</label><br/><br/></div>
        <div class="flex-1"></div>
      </div>

      <div class="d-flex">
        <div class="flex-1"><label><input type="radio" name="gender" [(ngModel)]="gender" value="MAN"/>Man</label><br/></div>
        <div class="flex-1"><label><input type="radio" name="gender" [(ngModel)]="gender" value="WOMAN"/>Woman</label><br/></div>
        <div class="flex-1"></div>
        <div class="flex-1"></div>
      </div>
      <hr/>
      <div class="d-flex">
        <div class="flex-1">
          <button class="btn btn-warning" (click)="noNewSchedule()">Cancel</button></div>
        <div class="flex-1"><button *ngIf="!isNotScheduleValid()" class="btn btn-success" (click)="saveNewSchedule()">Save</button></div>
        <div class="flex-1"></div>
        <div class="flex-1"></div>
      </div>

    </div>
  </div>
  <div class="col-12 col-md-8 p-2 float-end">
    <app-detail-schedule *ngIf="selectedScheduled" [selectedSchedule]="selectedScheduled"></app-detail-schedule>
    <router-outlet></router-outlet>
  </div>
</div>
