<div  *ngIf="!isLoading" class="d-flex justify-content-between">
  <div class="col-md-4"></div>
  <div class="col-12 col-md-4">
    <h1>LOGIN</h1>
    <hr/>
    <input type="email" [(ngModel)]="username" class="form-control" placeholder="email"/><br/>
    <input type="password" [(ngModel)]="password" class="form-control" placeholder="password"/>
    <hr/>
    <button class="btn btn-info" (click)="login()">LOGIN</button>
  </div>
  <div class="col-md-4"></div>

</div>
<div *ngIf="isLoading">loading...</div>

