<div *ngIf="selectedScheduled" class="alert alert-success">
  <h3>{{selectedScheduled.scheduleName}} ({{getText(selectedScheduled.type)}}, {{getText(selectedScheduled.age)}}, {{getText(selectedScheduled.gender)}})</h3>
  <hr/>
  <strong><i>Food in this schedule:</i></strong>
  <div class="d-flex justify-content-between" *ngFor="let food of selectedFoodInScheduled">
    <div>{{food.name}}</div>
    <div><strong class="text-success">{{food.numberOf100Gram}}</strong> x100gam</div>
    <div class="btn btn-sm btn-outline-danger" (click)="onRemoveFoodOut(food)">-</div>
  </div>
  <button *ngIf="!isShowAddingFood" class="btn btn-sm btn-outline-success" (click)="showAddFoodPanel()">+</button>
  <div *ngIf="isShowAddingFood" class="alert alert-info">
    <label>Group:</label>
    <select [(ngModel)]="selectedGroup" (change)="onSelectedGroup()" class="w-100 form-control custom-select">
      <option [value]="undefined">Select a group</option>
      <option *ngFor="let items1 of ['NGU_COC', 'KHOAI_CU', 'HAT', 'RAU_CU', 'QUA', 'DAU_MO_BO', 'THIT', 'THUY_SAN', 'TRUNG', 'SUA', 'NUOC']" [value]="items1">{{getText(items1)}}</option>
    </select>
    <label>Food:</label>
    <select [(ngModel)]="selectedFoodId" (change)="onSelectedFood()" class="w-100 form-control custom-select">
      <option [value]="undefined">Select a food</option>
      <option *ngFor="let food of listFood" [value]="food.key">{{food.name}}</option>
    </select>
    <label>Quantity x100g:</label>
    <input type="number" [(ngModel)]="numberOf100Gram" class="form-control" value="1"/>
    <button (click)="hideAddingFood()" class="btn btn-outline-warning">cancel</button>{{ '  '}}
    <button *ngIf="!isNotValidForm()" (click)="addSelectedFoodToSchedule()" class="btn btn-outline-info">add</button>
  </div>

  <hr/>
  <button *ngIf="nutrisFromMaster !== selectedFoodInScheduled.length" class="btn btn-danger" (click)="startAnalyze()">Calculate</button>
  <div *ngIf="nutrisFromMaster > 0 && nutrisFromMaster === selectedFoodInScheduled.length">
    <h3>Avg calculation/day:</h3>
    <div *ngFor="let attribute of nutriAttributeNames" class="d-flex" >
      <div class="flex-2">{{attribute}}</div>
      <div class="flex-1"><strong class="text-success">{{result[attribute] > -1 ? result[attribute].toFixed(2) : '-'}}</strong> ({{units[attribute]}})</div>
    </div>
    <strong class="text-danger"><i>Note: These numbers were based on the VTN_FCT_2007 document.</i></strong><br>
    <hr/>
    <div *ngIf="selectedScheduled.type !== 'ONE_DAY'">
      <button class="btn btn-sm btn-outline-dark" (click)="showAdvice()">See advices</button>
      <strong>các bệnh hay triệu chứng có thể xảy ra do thiếu:</strong>
      <div *ngFor="let sick of minList">
        <div>{{sick}}</div>
      </div>
      <br>
      <strong>các bệnh hay triệu chứng có thể xảy ra do thừa:</strong>
      <div *ngFor="let sick of maxList">
        <div>{{sick}}</div>
      </div>
    </div>
  </div>

</div>
